* {
	margin: 0;
	padding: 0;
}
body {
	min-height: 5378px;
}
header {
	/*width: 1600px;*/
	height: 670px;
	background-image: url(images/header-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.colored {
	background-image: url(images/header-overlay.png);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.wrap {
	display: block;
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}
.nav-line {
	position: fixed;
	width: 940px;
	padding: 15px 0;
	z-index: 1000;
}
.nav-logo {
	float: left;
	background: none;
	color: #00e0d0;
	line-height: 55px;
	height: 55px;
}
.nav-logo img {
	float: left;
}
.nav-logo p {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	display: inline-block;
	float: left;
	margin: -3px 0 0 15px;
}
.nav-list {
	float: right;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.nav-list li {
	display: inline-block;
	list-style-type: none;
	height: 55px;
	line-height: 55px;
	text-transform: uppercase;
	padding: 0 8px;
}
.nav-list li:last-child {
	padding-right: 0;
}
.nav-list a {
	color: white;
	text-decoration: none;
	transition: all ease .8s;
	text-shadow: 0 0 2px #322a54;
}
.nav-list a:hover {
	color: #00e0d0;
	text-shadow: none;
}
.hero {
	padding-top: 230px;
	width: 100%;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	text-transform: capitalize;
	font-size: 32px;
	color: #fff;
	text-align: center;
}
.underline {
	height: 1px;
	width: 50px;
	margin: 15px auto;
	padding: .1px;
}
.hero .underline {
	background-color: #00e0d0;
}
.underheading {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 150%;
}
.button-learn {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #00e0d0;
	width: 118px;
	height: 38px;
	border: 2px solid #00e0d0;
	border-radius: 1px;
	background: none;
	cursor: pointer;
}
.button-learn:focus {
	outline: 0;
}
.hero button {
	margin: 50px 0 125px;
}
.points {
	padding-bottom: 70px;
}
.points div {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	transition: all ease .2s;
}
.points div:hover {
	border: 1px solid cyan;
	box-shadow: 0 0 2px powderblue;
}
.active-point {
	background-color: #00e0d0;
	border: 1px solid #00e0d0;
}
.point {
	background-color: none;
	border: 1px solid grey;
}
.story {
	height: 420px;
}
.big-logo {
	padding: 70px 85px 0 60px;
	float: left;
}
h2 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
}
.story-white-block {
	text-align: left;
}
.story-white-block h2 {
	padding-top: 70px;
}
.story-white-block p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 150%;
	padding-top: 28px;
	letter-spacing: 1px;
}
.story-white-block button {
	margin-top: 30px;
}
.video-story {
	height: 550px;
	background-image: url(images/city.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.circle-button {
	width: 94px;
	height: 94px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 200px 0 30px;
	line-height: 94px;
	cursor: pointer;
}
.video span {
	color: #fff;
	font-size: 50px;
	display: block;
	margin: 3px 0 0 3px;
}
.video p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
}
.expertise {
	text-align: center;
	height: 754px;
}
.expertise h2 {
	padding-top: 70px;
}
.expertise p {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	margin-top: 10px;
}
.expertise .underline {
	background-color: darkgrey;
	margin-bottom: 50px;
}
.expertise table {
	border: none;
	border-collapse: collapse;
	width: 100%;
	height: 500px;
}
.expertise td {
	width: 33.333%;
	height: 49.99%;
	padding: 40px 31px;
}
.expertise tr:first-child td:first-child {
	border-bottom: 1px solid #c6c4c9;
	border-right: 1px solid #c6c4c9;
}
.expertise tr:first-child td:nth-child(3) {
	border-left: 1px solid #c6c4c9;
	border-bottom: 1px solid #c6c4c9;
}
.expertise tr:last-child td:nth-child(2) {
	border: 1px solid #c6c4c9;
	border-bottom: none;
}
.expertise-icon {
	height: 50px;
}
h3 {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	margin-top: 25px;
}
.expertise table p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 20px;
}
#team {
	height: 710px;
	background-image: url(images/team-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
#team h2 {
	padding: 72px 0 10px;
}
#team .underline {
	background-color: #fff;
	margin-bottom: 45px;
}
#team .button-learn {
	width: 138px;
}
.team-photos {
	margin: 0 -0.7979%;
	font-size: 0;
}
.member-box {
	display: inline-block;
	border: 1px solid #fff;
	height: 306px;
	width: 23.17%;
	background: none;
	margin: 0 0.7979%;
}
.member-icon {
	background-color: #fff;
	background-image: url();
	height: 228px;
	width: 100%;
}
.member-info {
	text-align: center;
}
.member-name, .member-job {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.member-name {
	font-size: 14px;
	font-weight: 700;
	padding-top: 15px;
}
.member-job {
	font-size: 13px;
	font-weight: 100;
	padding-top: 8px;
}
#team .underheading {
	padding: 70px 0 25px;
}
.upperline {
	padding: 70px 0;
}
.upperline h2 {
	float: left;
}
.upperline p {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
}
.upperline span {
	display: inline-block;
	transform: scale(1.2,1.7);
	float: right;
	margin: -2px 0 0 8px;
}
.upperline:after {
	content: '';
	display: block;
	clear: both;
}
.work-pictures {}
.work-picture {
	float: left;
	display: inline-block;
	font-size: 0;
	height: 200px;
	width: 16.6666667%;
}
.work-picture:nth-child(4n+1) {
	background-color: grey;
}
.work-picture:nth-child(4n+2) {
	background-color: darkgrey;
}
.work-picture:nth-child(4n+3) {
	background-color: lightgrey;
}
.work-picture:nth-child(4n+4) {
	background-color: dimgrey;
}
.works .button-learn {
	margin: 70px 0;
}
.people-say {
	height: 500px;
	background-image: url(images/peoplesay-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.people-say p {
	color: #fff;
}
.quotemark {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding-top: 50px;
	font-size: 100px;
}
.people-say-text {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 16px;
	margin: -25px auto 25px;
	letter-spacing: 1px;
	width: 840px;
}
.quotes-choice {
	color: #fff;
	font-size: 20px;
	position: relative;
	width: 390px;
	margin: 40px auto 60px;
}
.quotes-choice img {
	vertical-align: middle;
}
.quotes-choice div {
	display: inline-block;
	height: 45px;
	margin: 0 3px;
}
.quotes-choice div:nth-child(3) {
	height: 70px;
}
.quotes-choice:after {
	content: '\232A';
	opacity: .6;
	transform: scale(1.6,1.0);
	font-size: 30px;
	position: absolute;
	top: 19px;
	right: 0px;
	cursor: pointer;
}
.quotes-choice:before {
	content: '\2329';
	opacity: .6;
	transform: scale(1.6,1.0);
	font-size: 30px;
	position: absolute;
	top: 19px;
	left: 0px;
	cursor: pointer;
}
.contact {
	height: 510px;
	padding: 70px 0;
}
.contact-us {
	float: left;
	width: 48%;
	text-align: left;
}
.contact-us input {
	outline: 0;
}
.contact-us h2 {
	padding-bottom: 15px;
}
.contact-us input:nth-child(-n+4) {
	display: block;
	padding: 16px;
	width: 92%;
	margin: 11px 0;
}
.contact-us textarea {
	height: 166px;
	display: block;
	padding: 16px;
	width: 92.5%;
	margin: 11px 0 20px;
	border: 1px solid lightgrey;
	outline: 0;
}
.happy-clients {
	float: right;
	width: 40%;
	text-align: left;
}
.happy-clients h2 {
	padding-bottom: 30px;
}
.label-row:last-child img {
	vertical-align: bottom;
	margin-top: 22px;
}
.label-row .label:last-child {
	text-align: right;
}
.label-row:nth-child(4) .label:last-child {
	width: 157.2px;
	margin-right: 27px;
}
.label-row:nth-child(5) .label:last-child {
	padding-right: 15px;
	width: 169.2px;
}
.label {
	display: inline-block;
	height: 70px;
	width: 184.2px;
	text-align: center;
}
.contact img {
	vertical-align: middle;
}
.happy-clients:after {
	content: '';
	display: block;
	clear: both;
}
.footerdiv {
	height: 400px;
	background-image: url(images/footer-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
.footer-info {
	padding-top: 70px;
}
.description {
	float: left;
	width: 300px;
	padding-right: 30px;
}
.description .nav-logo {
	float: none;
}
.footer-info .underheading {
	text-align: left;
	padding-top: 15px;
	letter-spacing: 1px;
}
.footer-info .member-name {
	padding-bottom: 20px;
	text-align: left;
}
.phone-address {
	float: left;
	width: 285px;
	padding-right: 30px;
}
.phone-address span {
	display: inline-block;
	float: left;
}
.phone-address .address-icon {
	padding: 15px 15px 0 0;
}
.address-info:after {
	content: '';
	display: block;
	clear: both;
}
.subscribe {
	float: right;
}
.subscribe-line {
	height: 45px;
	padding-bottom: 25px;
}
.subscribe input {
	background: none;
	padding: 16px;
	border: 1px solid lightgrey;
	width: 180px;
	height: 11px;
	outline: 0;
	color: #fff;
}
.subscribe-button {
	display: inline-block;
	width: 70px;
	height: 45px;
	background-color: #fff;
	opacity: .4;
	line-height: 45px;
	cursor: pointer;
}
.subscribe-button img {
	vertical-align: middle;
}
.footer-info:after {
	content: '';
	display: block;
	clear: both;
}
.footerdiv li {
	display: inline-block;
	list-style-type: none;
	float: left;
}
.subscribe-icon {
	width: 33px;
	height: 33px;
	background: none;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 4px;
	line-height: 29px;
	transition: all ease .3s;
}
.subscribe-icon img {
	vertical-align: middle;
	text-align: center;
}
.subscribe-icon:first-child {
	margin-left: 0;
}
.subscribe-icon:hover {
	color: #000;
	background-color: #00e0d0;
	border: 1px solid cyan;
	box-shadow: 0 0 2px powderblue;
}
.footer-nav-line {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	padding-top: 75px;
}
.footer-nav-line li {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 12px;
	float: left;
	transition: all ease .3s;
}
.footer-nav-line li:first-child {
	margin-left: 0;
}
.footer-nav-line li:hover {
	color: #00e0d0;
	cursor: pointer;
}
.copyright {
	text-transform: capitalize;
	float: right;
	margin: 12px 0;
}