* {
	margin: 0;
	padding: 0;
}
body {
	min-height: 5378px;
}
header {
	/*width: 1600px;*/
	height: 670px;
	background-image: url(images/header-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.colored {
	background-image: url(images/header-overlay.png);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.wrap {
	display: block;
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}
.nav-line {
	position: fixed;
	width: 940px;
	padding: 15px 0;
}
.nav-logo {
	float: left;
	background: none;
	color: #00e0d0;
	line-height: 55px;
	height: 55px;
}
.nav-logo img {
	float: left;
}
.nav-logo p {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	display: inline-block;
	float: left;
	margin: -3px 0 0 15px;
}
.nav-list {
	float: right;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.nav-list li {
	display: inline-block;
	list-style-type: none;
	height: 55px;
	line-height: 55px;
	text-transform: uppercase;
	padding: 0 8px;
}
.nav-list li:last-child {
	padding-right: 0;
}
.nav-list a {
	color: white;
	text-decoration: none;
	transition: all ease .8s;
	text-shadow: 0 0 2px #322a54;
}
.nav-list a:hover {
	color: #00e0d0;
	text-shadow: none;
}
.hero {
	padding-top: 230px;
	width: 100%;
}
h1 {
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
	font-size: 32px;
	color: #fff;
	text-align: center;
}
.underline {
	height: 1px;
	width: 50px;
	margin: 0 auto;
	background-color: #00e0d0;
	margin-top: 15px;
}
.underheading {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 150%;
}
button {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #00e0d0;
	width: 300px;
	height: 60px;
	border: 2px solid #00e0d0;
	background: none;
}
.points div {
	width: 8px;
	height: 8px;
	border: 2px solid #00e0d0;
	border-radius: 100%;
	display: inline-block;
}
.active-point {
	background-color: #00e0d0;
}
.point {
	background-color: #322a54;
}











